<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>text</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue-Bold</string>
		<key>fontSize</key>
		<integer>16</integer>
		<key>textColor</key>
		<string>0xefefef</string>
		<key>highlightedTextColor</key>
		<string>0xefefef</string>
		<key>textAlignment</key>
		<string>left</string>
		<key>shadowColor</key>
		<string>0x000000</string>
		<key>shadowOffset</key>
		<string>{0,1}</string>
	</dict>
	<key>loadMoreLabel</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue-Bold</string>
		<key>fontSize</key>
		<integer>16</integer>
		<key>textColor</key>
		<string>0xefefef</string>
		<key>shadowColor</key>
		<string>0x000000</string>
		<key>shadowOffset</key>
		<string>{0,1}</string>
	</dict>
	<key>searchField</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue</string>
		<key>fontSize</key>
		<integer>14</integer>
		<key>textColor</key>
		<string>0xcdcdcd</string>
		<key>shadowColor</key>
		<string>0x000000</string>
		<key>shadowOffset</key>
		<string>{0,0}</string>
	</dict>
	<key>nullViewTitle</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue-Bold</string>
		<key>fontSize</key>
		<integer>18</integer>
		<key>textColor</key>
		<string>0xffffff</string>
		<key>textAlignment</key>
		<string>center</string>
		<key>shadowColor</key>
		<string>0x000000</string>
		<key>shadowOffset</key>
		<string>{0,1}</string>
	</dict>
	<key>nullViewSubtitle</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue</string>
		<key>fontSize</key>
		<real>14</real>
		<key>textColor</key>
		<string>0xffffff</string>
		<key>textAlignment</key>
		<string>center</string>
		<key>shadowColor</key>
		<string>0x000000</string>
		<key>shadowOffset</key>
		<string>{0,1}</string>
	</dict>
	<key>filmViewHeader</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue</string>
		<key>fontSize</key>
		<integer>14</integer>
		<key>textColor</key>
		<string>0xefefef</string>
		<key>highlightedTextColor</key>
		<string>0xefefef</string>
		<key>textAlignment</key>
		<string>center</string>
		<key>shadowColor</key>
		<string>0x000000</string>
		<key>shadowOffset</key>
		<string>{0,0}</string>
	</dict>
	<key>filmViewFooter</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue</string>
		<key>fontSize</key>
		<integer>14</integer>
		<key>textColor</key>
		<string>0xefefef</string>
		<key>highlightedTextColor</key>
		<string>0xefefef</string>
		<key>textAlignment</key>
		<string>center</string>
		<key>shadowColor</key>
		<string>0x000000</string>
		<key>shadowOffset</key>
		<string>{0,0}</string>
	</dict>
</dict>
</plist>
